@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500;600;700 & family= Poppins:wght@100;200;300;400;500 & family= Roboto:wght@100;300;400;500;700 & family= Sometype+Mono:wght@500;600;700 & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    border: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #F1CD30;
    border-radius: 5rem;
}

.background {
    background-image: url(./img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

body {
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo{
    width: 75px;
    height: auto;
    margin-left: 5rem;
    font-size: 30px;
    color: #F1CD30;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    font-size: 1.5rem;
    font-family: 'Halvetica';
}

.menu-mobile {
    display: none;
}

.C-icon {
    margin-right: 5rem;
}

.Icone ion-icon {
    color: #F1CD30;
    cursor: pointer;
    font-size: 2rem;
}

ul li a:hover {
    text-transform: capitalize;
    color: #fff;
    border-bottom: solid 1px;
}


.C-title {
    margin-left: 5rem;
    margin-top: 8rem;
}

.C-title h1 {
    color: #fff;
    font-size: 2.5rem;
}

.C-title p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
}

.C-title button {
    margin-top: 2rem;
    background-color: #F1CD30;
    color: #000000;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.C-title button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

.section-1 h1 {
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 3rem;
}

.section-1 span {
    color: #000000;
}

.section-1 {
    padding: 5rem;
}

.sobre-nos {
    display: flex;
    background-color: #000000;
    margin-top: 2rem;
    padding: 10px;
    width: 100%;
}

.sobre-nos img {
    padding-top: 35px;
    width: 100%;
    max-width: 150px;
}

.sobre-nos-title {
    margin-left: 1.3rem;
}

.sobre-nos-title h2 {
    color: #F1CD30;
    font-size: 2rem;
}

.sobre-nos-title p {
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #ffffff;
    width: 45rem;
}

.sobre-nos-title button {
    margin-top: 2rem;
    background-color: #F1CD30;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.sobre-nos-title button:hover {
    letter-spacing: 2px;
    transition: 0.3s;
}

.section-2 h1 {
    text-align: center;
    align-items: center;
    color: #000000;
    font-size: 3rem;
    margin-top: 3rem;
}


.container-card-1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-img {
    align-items: center;
    text-align: center;
    width: 9rem;
    height: 9rem;
}

.card-img img {
    width: 100px;
}

.card-img h3 {
    font-size: 1.5rem;
    color: #000000;
}

#container-card-2 {
    display: flex;
    justify-content:center;
    margin-top: 1rem;
}


.Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , auto));
}

.meio-contato h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #F1CD30;
}

.meio-contato li a{
    display: block;
    color: #F1CD30;
    font-weight: 600;
    transition: 0.35s ease;
}

.lazer h1{
    margin-top: 10rem;
    text-align: center;
    align-items: center;
    color: #000000;
    font-size: 3rem;
}

.container-afazer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.container-afazer img{
    transition: 0.3s;
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
}

.container-afazer h5{
    color: #000000;
}

.container-afazer p{
    color: #F1CD30;
}

.diversao{
    background-color:rgb(255, 255, 255) ;
    color: #000000;
}

@media (max-width:925px) {
    ul li a {
        font-size: 1rem;
    }

    .logo img {
        width: 50px;
    }

    .Icone ion-icon {
        font-size: 1rem;
    }

    .sobre-nos-title p {
        width: 550px;
    }
}

@media (max-width:737px) {
    .logo img {
        width: 35px;
    }

    ul li a {
        font-size: 12px;
    }

    .Icone ion-icon {
        font-size: 12px;
    }

    .C-title h1 {
        font-size: 1.8rem;
    }

    .C-title p {
        font-size: 1rem;
        width: 400px;
    }

    .C-title button {
        font-size: 1rem;
    }

    .sobre-nos-title p {
        width: 450px;
    }

    .container-form {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:657px) {
    ul {
        display: flex;
        gap: 1.5rem;
    }

    .sobre-nos-title p {
        width: 380px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width:583px) {
    .sobre-nos-title p {
        width: 290px;
    }

    .sobre-nos-title button {
        font-size: 0.8rem;
    }

    .section-1 h1 {
        font-size: 1.8rem;
    }

    .section-2 h1 {
        font-size: 1.8rem;
    }

    .section-3 h1 {
        font-size: 1.8rem;
    }

    .section-4 h1 {
        font-size: 1.8rem;
    }
}

@media (max-width:533px) {
    .links {
        display: none;
    }

    .C-icon {
        display: none;
    }

    .menu-mobile {
        display: block;
        color: #fff;
        font-size: 20px;
        margin: 0 40px 0 0;
    }
}

@media (max-width:481px) {
    .C-title h1 {
        font-size: 1.2rem;
    }

    .C-title p {
        font-size: 0.8rem;
        width: 290px;
    }

    .C-title button {
        font-size: 0.8rem;
    }

    .sobre-nos-title p {
        width: 225px;
    }

    .sobre-nos-title h2 {
        font-size: 1.2rem;
    }

    form h3 {
        font-size: 1rem;
    }
}

@media (max-width:431px) {
    .sobre-nos-title p {
        width: 190px;
    }
}

@media (max-width:365px) {
    .sobre-nos-title p {
        width: 125px;
    }
}

@media (max-width:365px) {
    .C-title h1 {
        font-size: 1rem;
    }

    .C-title p {
        font-size: 0.7rem;
        width: 240px;
    }
}

@media (max-width:317px) {
    .sobre-nos-title p {
        width: 90px;
    }

    .C-title h1 {
        font-size: 0.8rem;
    }

    .C-title p {
        font-size: 0.5rem;
        width: 190px;
    }

    .C-title button {
        font-size: 0.5rem;
    }

    .sobre-nos-title button {
        font-size: 0.5rem;
    }
}

@media (max-width:295px) {
    .sobre-nos-title p {
        font-size: 8px;
        line-height: 10px;
        width: 60px;
    }

    .sobre-nos-title button {
        font-size: 0.3rem;
    }

    .sobre-nos-title h2 {
        font-size: 0.5rem;
    }

}